
.container{
    position: absolute;
    top:48%;
    left:42%;
}
.Bigbox{
    width: 350px;
    height: 580px;
    background:orange;
    color:black;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-style: solid;
    border-color: blue;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.Bigbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: left;
    float: left; 
}
.Bigbox input{
    width: 100%;
    margin-bottom: 20px;
}
.Bigbox input[type='text'],input[type='MobileNumber']
{
    border: none;
    border-bottom: 5px solid red;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.Bigbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:black;
}
.Bigbox a:hover
{
  color: red;
}