
.container{
    position: absolute;
    top:48%;
    left:50%;
}
.Deliverybox{
    width: 320px;
    height: 450px;
    background:white;
    color:black;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.Deliverybox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: left;
}
.Deliverybox input{
    width: 100%;
    margin-bottom: 20px;
}