.flex-container {
    display: flex;
    flex-direction: column;
  }
.container{
  position: relative;
  width: 100%;
  max-width: 400px;
}
.container img{
  width: 600px;
  height:400px;
}
.container .btn{
  position: absolute;
  top:50%;
  left:70%;
  transform: translate(-50%,-50%);
  background-color:#f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border:none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.container .btn:hover{
  background-color:red;
  color:#f1f1f1;
}