.container3 {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  .container3 img{
    width: 600px;
    height:400px;
  }
  .container3 .btn3{
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%,-50%);
    background-color:#f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container3 .btn3:hover{
    background-color:red;
    color:#f1f1f1;
  }